* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
    font-family: 'nakamoto';
    src: url(./TTF/Satoshi-Variable.ttf)
}
@font-face{
    font-family: 'galber';
    src: url(./galber-demo/Galber-Regular.otf);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #F5EFE6;
}
header {
  background-color: #eaa154;
  display: flex;
  justify-content: space-between;
  font-family: 'nakamoto', sans-serif;

  height: 80px;
}
nav{
    display: flex;
    align-items: center;
    gap: 125px;
    margin-right: 100px;
}
nav a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}
.logo {
  height: 60px;
  margin-left: 100px;
  margin-top: 20px;
}
.btn-nav{
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 240x;
}
.btn-nav button{
    width: 127px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 16px;
    background-color: transparent;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.kiri{
    margin-top: 250px;
    margin-left: 100px;

}
.kiri h1{
    font-size: 90px;
    font-weight: 500;
    color: #34221F;
    /* letter-spacing: -1px; */
    font-family: 'galber', sans-serif;
}
.kiri p{
    margin-top: 20px;
    font-size: 24px;
    color: #545454f1;
    width: 500px;
    font-weight: 400;
}
.kiri button{
    width: 192px;
    height: 48px;
    color: #fff;
    background: linear-gradient(90deg, #EBA352 0%, #E56F8C 100%);
    border: none;
    font-family: 'nakamoto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 30px;
}
.kanan img{
    margin-right: 120px;
    margin-bottom: 51px;
}
